@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.row{
    background-color: rgb(94, 94, 94);
    padding: 20px;
    font-family: 'Rajdhani', sans-serif;
}

h1{
    color: white;
}