<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Banner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../banner/banner.component.css">
</head>
<body>

    <!-- Banner -->
    <div class="banner">
        <div class="capa">
            <div class="contenido">
                <h1>Bienvenido a</h1>
                <h2>mi Portfolio</h2>
            </div>
        </div>
    </div>

</body>
</html>